In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25416 entries, 0 to 25415
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  25416 non-null  int64
 1   country                   25416 non-null  object
 2   region                    1214 non-null   object
 3   cpc_code                  25416 non-null  object
 4   commodity                 25416 non-null  object
 5   year                      25416 non-null  int64
 6   loss_percentage           25416 non-null  float64
 7   loss_percentage_original  25416 non-null  object
 8   loss_quantity             539 non-null    object
 9   activity                  22608 non-null  object
 10  food_supply_stage         22025 non-null  object
 11  treatment                 1320 non-null   object
 12  cause_of_loss             1002 non-null   object
 13  sample_size               1192 non-null   object
 14  method_data_collection    25061 non-null  object
 15  reference                 5113 non-null   object
 16  url                       22123 non-null  object
 17  notes                     2277 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 3.5+ MB

In [4]:
z(df)

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes
0,104,Myanmar,NaN,23161.02,"Rice, milled",2015,1.78000,1.78%,26.12kgs,Storage,Storage,"30 days storage, with trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
1,104,Myanmar,NaN,23161.02,"Rice, milled",2015,11.77000,11.77%,88.18kgs,Storage,Storage,"60 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
2,104,Myanmar,NaN,23161.02,"Rice, milled",2015,5.88000,5.88%,44.09kgs,Storage,Storage,"30 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
3,104,Myanmar,NaN,23161.02,"Rice, milled",2015,3.57000,3.57%,52.24kgs,Storage,Storage,"60 days storage, with trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
4,104,Myanmar,NaN,23161.02,"Rice, milled",2015,17.65000,17.65%,132.27kgs,Storage,Storage,"90 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25411,894,Zambia,NaN,0118,Millet,2000,2.50000,2.5,NaN,Transportation,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25412,894,Zambia,NaN,0118,Millet,2000,2.50000,2.5,NaN,Winnowing,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25413,894,Zambia,NaN,0118,Millet,2000,2.38075,2.38075,NaN,Storage,Storage,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25414,894,Zambia,NaN,0118,Millet,2000,3.44008,3.44008,NaN,"Drying, Harvesting",Harvest,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25415,894,Zambia,NaN,0118,Millet,2000,1.27433,1.27433,NaN,Storage,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN